{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

      <h1 class="heading-large">
        Which of these applies to you?
      </h1>

      <form class="form">
        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              Select which of these applies to you
            </legend>

            <label for="exempt" class="block-label">
              <input id="exempt" type="radio" name="diplomatyespage" value="exempt">
              Exempt organisation
            </label>

            <label for="mission" class="block-label">
              <input id="mission" type="radio" name="diplomatyespage" value="mission">
              Member of a diplomatic mission or household
            </label>

          </fieldset>
        </div>
        <div class="form-group">
          <a class="button" href="restrictions.html">Continue</a>
        </div>

      </form>


    </div>
  </div>
</main>

{% endblock %}
