{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

      <h1 class="heading-large">
        What is your email address?
      </h1>
        <div class="form-group">
            <p>This will only be used to contact you about your registration</p>
            <input type="text" class="form-control" id="surname">
        </div>


        <div class="form-group">
          <a class="button" href="other-names">Continue</a>
        </div>

    </div>
  </div>
</main>

{% endblock %}
