{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>
      <form class="form" name="test-form">
      <h1 class="heading-medium">
        [Summary page]
      </h1>
      <h2 class="heading-small">End of prototype</h2>

        <div class="form-group">
            <p><a href="index" value="Continue">Back to start</a></p>
        </div>

      </form>
    </div>
  </div>
</main>

{% endblock %}
