{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Prototypes
      </h1>

      <h2 class="heading-medium">Registered Traveller</h2>
      <ul class="list list-bullet">
				<li><a href="why-are-you-coming">First iteration of new visa questions</a></li>
			</ul>



    </div>
  </div>
</main>

{% endblock %}
