{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

      <h1 class="heading-large">
        Which visa do you have?
      </h1>

      <form class="form">
        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              Select which of these applies to you
            </legend>

            <label for="tier1" class="block-label">
              <input id="tier1" type="radio" name="workpage" value="tier1">
              Tier 1
            </label>

            <label for="tier4" class="block-label">
              <input id="tier4" type="radio" name="workpage" value="tier4">
              Tier 4
            </label>

            <label for="tier5" class="block-label">
              <input id="tier5" type="radio" name="workpage" value="tier5">
              Tier 5 (excluding creative/sporting concession)
            </label>

            <label for="other" class="block-label">
              <input id="other" type="radio" name="workpage" value="other">
              Other
            </label>

          </fieldset>
        </div>
        <div class="form-group">
          <a class="button" href="restrictions.html">Continue</a>
        </div>

      </form>


    </div>
  </div>
</main>

{% endblock %}
